h1 {
    text-align: center;
    color: #8B4513;
    font-family: Georgia, serif;
    font-size: 40px;
    margin-top: 20px;
}

.navbar ul {
    list-style-type: none;
    background-color: #B7410E;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.navbar li {
    margin: 0 5px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px 15px;
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.navbar a:hover {
    background-color: #D2691E;
    border-radius: 8px;
    transform: scale(1.05);
}
	
	img:hover{
	Transform:scale(1.02);
	}
	
	
	p{
	background:khaki;
	width:90%;
	max-width:900px;
	margin:20px auto;
	padding:18px;
	border-radius:18px;
	box-shadow:0 5px 12px rgba(0,0,0,.15);
	font-size:22px;
	}
	
	img{
	width:90%;
	max-width:960px;
	height:auto;
	display:block;
	margin:20px auto;
	border-radius:10px;
	border:5px solid white;
	transition:0.8
	box-shadow:0 5px 12px rgba(0,0,0,.15);
	}
	