h1 {
	text-align: center;
	}
	
	.navbar ul {
	list-style-type: none;
	background-color: #B7410E;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	overflow: hidden;
	}
	
	.navbar a {
	color: white;
	text-decoration: none;
	padding: 15px;            
	display: block;
	text-align: center;
	}
	
	.navbar a:hover {
	background-color: green;
	}
	
	.navbar li{
	float: left;
	}
	
	img:hover{
	Transform:scale(1.02);
	}
	
	
	p{
	background:khaki;
	width:90%;
	max-width:900px;
	margin:20px auto;
	padding:18px;
	border-radius:18px;
	box-shadow:0 5px 12px rgba(0,0,0,.15);
	font-size:22px;
	}